@charset "UTF-8";

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown li ul li a.indent {
	text-indent:12px;
	padding-top:2px;
	padding-bottom:2px;
}
	
ul.dropdown li ul li.indent {
	text-indent:15px;
	padding-top:5px;
	padding-bottom:2px;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}